#app
	rel()
	min-width minwidth
	display flex
	align-content center

.container
	display flex
	align-self center
	margin auto
	max-width maxwidth
	align-content stretch
	flex-wrap wrap
	flex-direction column
	padding 0 20px 40px 20px
	
.app-label
	display block
	width 100%
	margin 0 auto
	padding 10px 0
	rel()
	
	input 
		display block
		outline none
		border-radius 0
		border 0
		border-bottom 1px solid rgba(0,0,0,.2)
		font-size 20px
		padding 15px 0
		width 100%
		transition border-color 0.2s
		
		&:focus
			border-color rgba(0,0,0,.5)

	select 
		-webkit-appearance none
		appearance none
		display block
		font-size 15px
		color rgba(0,0,0,.3);
		position absolute
		bottom 24px
		right 0
		background none
		border 0
		outline none
		cursor pointer
		text-align right
		
		&:hover 
			color rgba(0,0,0,.5)
		
// .app-label--tmstmp
// 	&:after
// 		abs()
// 		after()
// 		top: 26px;
// 		bottom: 15px;
// 		font-size 14px
// 		color rgba(0,0,0,.3);
// 		content: 'мс';
// 		right 0
// 		z-index 10
// 		background white



.fork
	abs()
	bottom 10px
	left 0
	right 0
	font-size 14px
	text-align center
	
	a 
		color #2796de;
		text-decoration none
		border-bottom 1px solid lighten(#2796de, 70%);
		
		&:hover
			color black
			border-color rgba(0,0,0,.2);
			
			
@media (max-height 400px) {
	.fork {
		rel()
		bottom auto
	}
}