dashed(clr, aclr)
	text-decoration: none; color:clr; border-bottom:1px dashed aclr

dashedhover(clr, aclr, hclr, haclr)
	text-decoration: none; color:clr; border-bottom:1px dashed aclr;
	&:hover
		color:hclr; border-color:haclr

radius(r)
	-webkit-border-radius: r; -moz-border-radius: r; -ms-border-radius: r; -o-border-radius: r; border-radius: r;

shadow(s)
	-webkit-box-shadow: s; -moz-box-shadow: s; -ms-box-shadow: s; -o-box-shadow: s; box-shadow: s;

textShadow(s)
	-webkit-text-shadow: s; -moz-text-shadow: s; -ms-text-shadow: s; -o-text-shadow: s; text-shadow: s;

gradient(fb, start, stop)
	background: fb;
	background: -moz-linear-gradient(top,  start 0%, stop 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, start), color-stop(100%, stop));
	background: -webkit-linear-gradient(top,  start 0%, stop 100%);
	background: -o-linear-gradient(top,  start 0%, stop 100%);
	background: -ms-linear-gradient(top, start 0%, stop 100%);
	background: linear-gradient(to bottom, start 0%, stop 100%);


selectNone()
	-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;

trn()
	transitionTime = 0.3s; 
	-o-transition: all transitionTime; -ms-transition: all transitionTime; -moz-transition: all transitionTime; -webkit-transition: all transitionTime; transition: all transitionTime;

trnopacity()
	transitionTime = 0.3s; 
	-o-transition: opacity transitionTime; -ms-transition: opacity transitionTime; -moz-transition: opacity transitionTime; -webkit-transition: opacity transitionTime; transition: opacity transitionTime;

transform(effect)
	-webkit-transform: effect; -moz-transform: effect; -ms-transform: effect; -o-transform: effect; transform: effect;

trans(prop, time)
	-webkit-transition: prop time;
	-moz-transition: prop time;
	-ms-transition: prop time;
	-o-transition: prop time;
	transition: prop time;

transit(time)
	-o-transition: -o-transform time; -ms-transition: -ms-transform time; -moz-transition: -moz-transform time; -webkit-transition: -webkit-transform time; transition: transform time;

transitWithEffect(effect, time)
	-webkit-transform: effect; -moz-transform: effect; -ms-transform: effect; -o-transform: effect; transform: effect;
	-o-transition: -o-trnasform time; -ms-transition: -ms-transform time; -moz-transition: -moz-transform time; -webkit-transition: -webkit-transform time; transition: transform time;
